.zlh {
  margin-top: 12vmin;
  height: 600px;
  width: 80vw;
}
.zlbt {
	margin-top: -5px;
  height: 20px;
  width: 80vw;
}
.zlfbt {
	margin-top: 65px;
  height: 10px;
  width: 80vw;
}

.biaoge{
	margin-top: -25px;
}

.zljl{
  margin-top: 65px;
  width: 80vw;
  text-align: left;
}

.zlbt2 {
  margin-top: 105px;
  height: 20px;
  width: 80vw;
}

.zlh2 {
  margin-top: 12vmin;
  height: 600px;
  width: 80vw;
}